<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>STudent Registration Form</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <main class="flex justify-center items-center h-screen">
    <div class="bg-white w-full max-w-7xl p-6 sm:p-8 md:p-10 lg:p-12 xl:p-15">
      <div class="flex border-4 border-[#0C5F52]">
        <div class="flex-1 bg-[#0C5F52] p-8 flex justify-center items-center">
          <img
            src="{}"
            alt="Logo"
            class="w-full max-w-[200px]"
            style="aspect-ratio: 200 / 200; object-fit: cover"
            width="200"
            height="200"
          />
        </div>
        <div
          class="flex-1 p-8 flex flex-col justify-center font-[Tahoma,Arial,Calibri]"
        >
          <div class="space-y-4">
            <h1
              class="text-3xl font-bold text-[#0C5F52] uppercase font-[Agency FB] text-center"
            >
              Student Application Form
            </h1>
            <form method="post" class="space-y-4">
              {% csrf_token %}
              <div class="grid grid-cols-2 gap-4 gap-y-5">
                <div class="space-y-1">
                  <label
                    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
                    for="firstName"
                  >
                    First Name
                  </label>
                  <input
                    class="flex h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full p-3 border-2 border-[#0C5F52] rounded-md"
                    id="firstName"
                    placeholder="Enter your first name"
                    name="firstName"
                  />
                </div>
                <div class="space-y-1">
                  <label
                    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
                    for="lastName"
                  >
                    Last Name
                  </label>
                  <input
                    class="flex h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full p-3 border-2 border-[#0C5F52] rounded-md"
                    id="lastName"
                    placeholder="Enter your last name"
                    name="lastName"
                  />
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 gap-y-5">
                <div class="space-y-1">
                  <label
                    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
                    for="course"
                  >
                    Course
                  </label>
                  <select
                    id="course"
                    name="course"
                    class="w-full p-3 border-2 border-[#0C5F52] rounded-md"
                  >
                    <option value="">Select Course</option>
                    <option value="CHS">Certificate in Health Science</option>
                    <option value="CAT">
                      Certificate in Applied Technology
                    </option>
                    <option value="BIT">
                      Bachelor of Information Technology
                    </option>
                    <option value="BBT">
                      Bachelors in Business Technology
                    </option>
                    <option value="MPH">Master of Public Health</option>
                  </select>
                </div>
                <div class="space-y-1">
                  <label
                    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
                    for="entryScheme"
                  >
                    Entry Scheme
                  </label>
                  <select
                    id="entryScheme"
                    name="entryScheme"
                    class="w-full p-3 border-2 border-[#0C5F52] rounded-md"
                  >
                    <option value="">Select Entry Scheme</option>
                    <option value="A_LEVEL">A-Level certificate</option>
                    <option value="ADULT">Adult/Mature Learning</option>
                    <option value="CERTIFICATE">Certificate</option>
                    <option value="DIPLOMA">Diploma</option>
                    <option value="BACHELORS">Bachelors</option>
                  </select>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 gap-y-5">
                <div class="space-y-1">
                  <label
                    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
                    for="intake"
                  >
                    Intake
                  </label>
                  <select
                    id="intake"
                    name="intake"
                    class="w-full p-3 border-2 border-[#0C5F52] rounded-md"
                  >
                    <option value="">Select Intake</option>
                    <option value="JAN">January Intake</option>
                    <option value="MAY">May Intake</option>
                    <option value="SEP">September Intake</option>
                  </select>
                </div>
                <div class="space-y-1">
                  <label
                    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
                    for="sponsorship"
                  >
                    Sponsorship
                  </label>
                  <select
                    id="sponsorship"
                    name="sponsorship"
                    class="w-full p-3 border-2 border-[#0C5F52] rounded-md"
                  >
                    <option value="">Select Sponsorship</option>
                    <option value="SELF">Self-Sponsored</option>
                    <option value="EMPLOYER">Employer-Sponsored</option>
                    <option value="GOVERNMENT">Government-Sponsored</option>
                  </select>
                </div>
              </div>

              <div class="space-y-1">
  <label
    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
    for="gender"
  >
    Gender
  </label>
  <div class="flex items-center space-x-4">
    <div class="flex items-center">
      <input
        type="radio"
        id="gender-male"
        name="gender"
        value="male"
        class="w-4 h-4 border-[#0C5F52] focus:ring-[#0C5F52] rounded-full"
      />
      <label
        class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB]"
        for="gender-male"
      >
        Male
      </label>
    </div>
    <div class="flex items-center">
      <input
        type="radio"
        id="gender-female"
        name="gender"
        value="female"
        class="w-4 h-4 border-[#0C5F52] focus:ring-[#0C5F52] rounded-full"
      />
      <label
        class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB]"
        for="gender-female"
      >
        Female
      </label>
    </div>
  </div>
</div>


              <div class="grid grid-cols-2 gap-4 gap-y-5">
                <div class="space-y-1">
                  <label
                    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
                    for="dob"
                  >
                    Date of Birth
                  </label>
                  <input
                    class="flex h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full p-3 border-2 border-[#0C5F52] rounded-md"
                    id="dob"
                    type="date"
                    name="dob"
                  />
                </div>
                <div class="space-y-1">
                  <label
                    class="text-sm leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-[#0C5F52] font-[Agency FB] font-bold"
                    for="residence"
                  >
                    Residence
                  </label>
                  <input
                    class="flex h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full p-3 border-2 border-[#0C5F52] rounded-md"
                    id="residence"
                    placeholder="Enter your residence"
                    name="residence"
                  />
                </div>
              </div>
              <div class="flex justify-center">
                <button
                  class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-full max-w-[300px] bg-[#00B894] text-white font-[Agency FB] p-4 rounded-lg hover:bg-[#00a383] transition-colors duration-300"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
